<main class="container" #containerRef>
  @if(!dailyWeatherForecast$()) {
  <app-search-location (locationDetails)="updateForecast($event)" />
  } @else {
  <section class="home-section-container">
    <article class="main-card-container">
      <a class="day-btn"> Day Before </a>

      <div class="main-weather-card glass-effect">
        <picture class="weather-img-container">
          <img src="../../../assets/cloud.png" alt="Cloudy" />
        </picture>

        <div class="weather-details">
          <span class="current-temperature"
            >{{ dailyWeatherForecast$()?.temperatureMean }}°</span
          >

          <div class="h-l-temperature">
            <span>L: {{ dailyWeatherForecast$()?.temperatureMin }}°</span> -
            <span>H: {{ dailyWeatherForecast$()?.temperatureMax }}°</span>
          </div>

          <div class="other-details">
            <div class="humidity-details">
              <p>{{ dailyWeatherForecast$()?.humidity }}%</p>
              <picture class="icon-container">
                <img src="../../../assets/humidity.png" alt="humidity" />
              </picture>
            </div>
            <div class="wind-details">
              <p>{{ dailyWeatherForecast$()?.windSpeed }}km/h</p>
              <picture class="icon-container">
                <img src="../../../assets/wind.png" alt="wind" />
              </picture>
            </div>
            <div class="rain-details">
              <p>{{ dailyWeatherForecast$()?.precipitationProbability }}%</p>
              <picture class="icon-container">
                <img src="../../../assets/umbrella.png" alt="umbrella" />
              </picture>
            </div>
          </div>
        </div>
      </div>

      <a class="day-btn"> Next Day </a>
    </article>

    <h2 class="location">
      {{ dailyWeatherForecast$()?.location }} -
      {{ dailyWeatherForecast$()?.day }}
    </h2>
  </section>
  }

  <footer class="footer">
    <a href="https://www.linkedin.com/in/elian-arismendi/">
      &copy; Elian Arismendi
    </a>
  </footer>
</main>
