.home-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: blue;

  & .search-bar-container {
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    & .search-location-form {
      padding: 5px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      & .location-input {
        border-radius: 8px;
        width: 90%;
        padding: 8px;
      }

      & .search-btn {
        border-radius: 8px;
        padding: 5px;

        & img {
          max-height: 18px;
          object-fit: contain;
        }
      }
    }
  }

  & .main-card-container {
    background-color: aquamarine;

    & .main-weather-card {
      border-radius: 10px;

      width: 50%;
      max-width: 600px;
      margin: 80px auto 1% auto;
      background-color: red;
      padding: 15px;
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      & .weather-img-container {
        width: 60%;
      }

      & .weather-details {
        width: 100%;

        & .current-temperature {
          position: absolute;
          font-size: 2rem;
          font-weight: bold;
          top: 10px;
          right: 15px;
        }

        & .h-l-temperature {
          margin: 20px auto;
          text-align: center;
        }

        & .other-details {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-around;

          & .humidity-details,
          & .wind-details,
          & .rain-details {
            display: flex;
            flex-direction: column-reverse;
            width: 30%;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    & .location-details {
      display: flex;
      flex-direction: column;
      width: 50%;

      text-align: center;
      margin: 20px auto;
      font-size: 1.5rem;
    }
  }

  & .weather-carrousel {
    margin: 50px auto 0 auto;
    height: 28%;
    width: 90%;
    display: flex;

    & .weather-carrousel-card {
      background-color: violet;
      padding: 10px;
      width: 30%;
      min-width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
    }
  }
}

.icon-container {
  width: 40%;
  height: 40%;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
