<section class="home-section-container">
  <header class="search-bar-container">
    <form class="search-location-form">
      <input class="location-input" type="text" placeholder="Enter location" />
      <button class="search-btn">
        <img src="../../../assets/search-interface-symbol.png" alt="" />
      </button>
    </form>
  </header>

  <article class="main-card-container">
    <div class="main-weather-card">
      <picture class="weather-img-container">
        <img src="../../../assets/cloud.png" alt="Cloudy" />
      </picture>

      <div class="weather-details">
        <p>4 Degrees</p>

        <div class="location-details">
          <p>Argentina - Resistencia, Chaco</p>
          <p>18 hs</p>
        </div>

        <div class="other-details">
          <div class="humidity-details">
            <p>10%</p>
            <picture class="icon-container">
              <img src="../../../assets/humidity.png" alt="humidity" />
            </picture>
          </div>
          <div class="wind-details">
            <p>1km, h %</p>
            <picture class="icon-container">
              <img src="../../../assets/wind.png" alt="wind" />
            </picture>
          </div>
          <div class="rain-details">
            <p>10%</p>
            <picture class="icon-container">
              <img src="../../../assets/umbrella.png" alt="umbrella" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="weather-carrousel">
    <div class="weather-carrousel-card">
      <div>18 hs</div>
      <p>4 Degrees</p>
      <p>Argentina</p>
      <p>Resistencia, Chaco</p>
    </div>
  </article>

  <hr />
</section>
