@import "../../../assets/scss/bg-by-weather.scss";

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .home-section-container {
    & .main-card-container {
      display: flex;
      align-items: center;
      justify-content: space-around;

      & .main-weather-card {
        animation: fadeIn 350ms ease-in 0ms forwards;

        border-radius: 10px;
        max-width: 600px;
        padding: 15px;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & .weather-img-container {
          width: 60%;
        }

        & .weather-details {
          width: 100%;

          & .current-temperature {
            position: absolute;
            font-size: 2rem;
            font-weight: bold;
            top: 10px;
            right: 15px;
          }

          & .h-l-temperature {
            margin: 20px auto;
            text-align: center;
          }

          & .other-details {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;

            & .humidity-details,
            & .wind-details,
            & .rain-details {
              display: flex;
              flex-direction: column-reverse;
              width: 30%;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

.x-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 2.1rem;

  &:hover {
    color: rgb(193, 10, 10);
    transition: color 200ms;
  }
}

.location {
  margin-bottom: 50px;
}

.location p {
  animation: fadeIn 350ms ease-in 0ms forwards;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.icon-container {
  width: 40%;
  height: 40%;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.534);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: center;

  & a {
    font-size: 1.2rem;
    font-style: italic;
    color: black;
    text-decoration: none;
  }
}
